@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
#flex-index-container, #flex-index-container .flexTexto, #flex-index-container .flexImagenes, #flipFlex, #videoFlex, #videoFlex .textoInformacion, #videoFlex .videoInformacion {
  display: flex;
  flex-wrap: wrap; }

/*
All pages 
*/
* {
  margin: 0;
  padding: 0; }

body {
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(180deg, #587ec5, #ff475760); }

.icon {
  height: 60px;
  width: 80px;
  border-style: solid;
  border-color: #ff4757;
  border-radius: 40px;
  position: absolute;
  top: 5px;
  left: 15px; }
  .icon img {
    height: 48px;
    width: 60px;
    padding-top: 5px; }

.TittleDef {
  text-align: center;
  font-size: 2rem;
  color: #3d6936;
  padding: 35px 0px 0px 0px; }

nav {
  display: block;
  background-color: #587ec5;
  width: 100%;
  height: 70px;
  font-style: italic;
  border-style: solid;
  border-color: #587ec5;
  border-bottom-color: #dd0b0450; }
  nav ul {
    list-style-type: none;
    text-align: center;
    padding-top: 15px; }
    nav ul li {
      display: inline-block;
      margin-right: 2.3rem;
      font-size: 1.3rem;
      text-transform: uppercase; }
      nav ul li a {
        text-decoration: none;
        color: white;
        padding: 5px; }
        nav ul li a:hover {
          background-color: #e0dddd;
          color: #dd0b04;
          border-radius: 10px; }

nav .active a {
  background-color: #e0dddd;
  color: #dd0b04;
  border-radius: 5px; }

@media all and (max-width: 769px) {
  nav ul {
    padding-top: 3%; }
    nav ul li {
      display: inline-block;
      margin-right: 0.5rem;
      font-size: 1rem; }
      nav ul li a {
        padding: 5px; }
  .icon {
    height: 40px;
    width: 60px;
    top: 15px;
    left: 5px; }
    .icon img {
      height: 28px;
      width: 40px;
      padding-top: 5px; }
  #footer p {
    font-size: 0.60rem;
    bottom: 0; }
  nav .active a {
    background-color: #e0dddd;
    color: #dd0b04;
    padding: 3px;
    border-radius: 6px; } }

.BackgroundImage {
  width: 100%;
  height: 500px;
  background-image: url(../img/indexImage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; }
  .BackgroundImage .textoBackground {
    padding: 0px;
    font-size: 3rem;
    font-style: italic;
    position: absolute;
    color: #ff4757;
    left: 0%;
    top: 10%; }
  .BackgroundImage nav .active a {
    background-color: #e0dddd;
    color: #dd0b04;
    border-radius: 1px; }

/*
Index 
*/
#flex-index-container {
  flex-direction: row; }
  #flex-index-container .flexTexto {
    flex-direction: column;
    justify-content: left;
    justify-content: center;
    width: 50%; }
    #flex-index-container .flexTexto h1, #flex-index-container .flexTexto p {
      color: white;
      padding-left: 20px; }
  #flex-index-container .flexImagenes {
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    width: 30%;
    padding: 30px;
    grid-template-columns: repeat(1, 2fr); }
    #flex-index-container .flexImagenes .imagen1 {
      width: 200px;
      height: 300px;
      padding: 10px;
      box-sizing: border-box;
      margin-top: 20px;
      margin-right: 30px;
      margin-left: 20px; }
      #flex-index-container .flexImagenes .imagen1 img {
        width: 200px;
        height: 300px;
        border-style: solid;
        border-radius: 10px;
        border-spacing: 10px;
        border-color: #dd0b0495;
        box-shadow: 1px 1px #00000050, -0.5em 0 .2em #00000050; }
        #flex-index-container .flexImagenes .imagen1 img:hover {
          box-shadow: 4px 4px #00000050, -1em 0 .3em #00000050;
          transform: scale(1.05); }
      #flex-index-container .flexImagenes .imagen1 p {
        position: relative;
        bottom: 70px;
        font-size: 2rem;
        left: 55px;
        color: #dd0b04; }
    #flex-index-container .flexImagenes .imagen2 {
      width: 200px;
      height: 300px;
      padding: 10px;
      box-sizing: border-box;
      margin-top: 20px;
      margin-right: 30px;
      margin-left: 20px; }
      #flex-index-container .flexImagenes .imagen2 img {
        width: 200px;
        height: 300px;
        border-style: solid;
        border-radius: 10px;
        border-spacing: 10px;
        border-color: #dd0b0495;
        box-shadow: 1px 1px #00000050, -0.5em 0 .2em #00000050; }
        #flex-index-container .flexImagenes .imagen2 img:hover {
          box-shadow: 4px 4px #00000050, -1em 0 .3em #00000050;
          transform: scale(1.05); }
      #flex-index-container .flexImagenes .imagen2 p {
        position: relative;
        bottom: 70px;
        font-size: 2rem;
        left: 55px;
        color: #dd0b04; }
    #flex-index-container .flexImagenes .imagen3 {
      width: 200px;
      height: 300px;
      padding: 10px;
      box-sizing: border-box;
      margin-top: 20px;
      margin-right: 30px;
      margin-left: 20px; }
      #flex-index-container .flexImagenes .imagen3 img {
        width: 200px;
        height: 300px;
        border-style: solid;
        border-radius: 10px;
        border-spacing: 10px;
        border-color: #dd0b0495;
        box-shadow: 1px 1px #00000050, -0.5em 0 .2em #00000050; }
        #flex-index-container .flexImagenes .imagen3 img:hover {
          box-shadow: 4px 4px #00000050, -1em 0 .3em #00000050;
          transform: scale(1.05); }
      #flex-index-container .flexImagenes .imagen3 p {
        position: relative;
        bottom: 70px;
        font-size: 2rem;
        left: 55px;
        color: #dd0b04; }
    #flex-index-container .flexImagenes .imagen4 {
      width: 200px;
      height: 300px;
      padding: 10px;
      box-sizing: border-box;
      margin-top: 20px;
      margin-right: 30px;
      margin-left: 20px; }
      #flex-index-container .flexImagenes .imagen4 img {
        width: 200px;
        height: 300px;
        border-style: solid;
        border-radius: 10px;
        border-spacing: 10px;
        border-color: #dd0b0495;
        box-shadow: 1px 1px #00000050, -0.5em 0 .2em #00000050; }
        #flex-index-container .flexImagenes .imagen4 img:hover {
          box-shadow: 4px 4px #00000050, -1em 0 .3em #00000050;
          transform: scale(1.05); }
      #flex-index-container .flexImagenes .imagen4 p {
        position: relative;
        bottom: 70px;
        font-size: 2rem;
        left: 55px;
        color: #dd0b04; }

h2 {
  padding: 10px;
  text-align: center;
  font-size: 32px; }

@media all and (max-width: 769px) {
  #flex-index-container {
    flex-direction: column; }
    #flex-index-container .flexTexto {
      padding-top: 20px;
      width: 100%;
      justify-content: center; }
  #flex-index-container .flexImagenes {
    width: 100%;
    padding: 30px; }
    #flex-index-container .flexImagenes .imagen1 {
      width: 100px;
      height: 300px;
      padding: 2px;
      box-sizing: border-box;
      margin-right: 60px;
      margin-left: 0px; }
      #flex-index-container .flexImagenes .imagen1 img {
        width: 150px;
        height: 280px;
        border-style: solid;
        border-radius: 10px;
        border-spacing: 5px;
        border-color: #dd0b0495;
        box-shadow: 1px 1px #00000050, -0.5em 0 .2em #00000050; }
        #flex-index-container .flexImagenes .imagen1 img:hover {
          box-shadow: 4px 4px #00000050, -1em 0 .3em #00000050;
          transform: scale(1.05); }
      #flex-index-container .flexImagenes .imagen1 p {
        position: relative;
        font-size: 2rem;
        bottom: 70px;
        left: 25px;
        color: #dd0b04; }
    #flex-index-container .flexImagenes .imagen2 {
      width: 100px;
      height: 300px;
      padding: 2px;
      box-sizing: border-box;
      margin-right: 60px;
      margin-left: 0px; }
      #flex-index-container .flexImagenes .imagen2 img {
        width: 150px;
        height: 280px;
        border-style: solid;
        border-radius: 10px;
        border-spacing: 5px;
        border-color: #dd0b0495;
        box-shadow: 1px 1px #00000050, -0.5em 0 .2em #00000050; }
        #flex-index-container .flexImagenes .imagen2 img:hover {
          box-shadow: 4px 4px #00000050, -1em 0 .3em #00000050;
          transform: scale(1.05); }
      #flex-index-container .flexImagenes .imagen2 p {
        position: relative;
        font-size: 2rem;
        bottom: 70px;
        left: 25px;
        color: #dd0b04; }
    #flex-index-container .flexImagenes .imagen3 {
      width: 100px;
      height: 300px;
      padding: 2px;
      box-sizing: border-box;
      margin-right: 60px;
      margin-left: 0px; }
      #flex-index-container .flexImagenes .imagen3 img {
        width: 150px;
        height: 280px;
        border-style: solid;
        border-radius: 10px;
        border-spacing: 5px;
        border-color: #dd0b0495;
        box-shadow: 1px 1px #00000050, -0.5em 0 .2em #00000050; }
        #flex-index-container .flexImagenes .imagen3 img:hover {
          box-shadow: 4px 4px #00000050, -1em 0 .3em #00000050;
          transform: scale(1.05); }
      #flex-index-container .flexImagenes .imagen3 p {
        position: relative;
        font-size: 2rem;
        bottom: 70px;
        left: 25px;
        color: #dd0b04; }
    #flex-index-container .flexImagenes .imagen4 {
      width: 100px;
      height: 300px;
      padding: 2px;
      box-sizing: border-box;
      margin-right: 60px;
      margin-left: 0px; }
      #flex-index-container .flexImagenes .imagen4 img {
        width: 150px;
        height: 280px;
        border-style: solid;
        border-radius: 10px;
        border-spacing: 5px;
        border-color: #dd0b0495;
        box-shadow: 1px 1px #00000050, -0.5em 0 .2em #00000050; }
        #flex-index-container .flexImagenes .imagen4 img:hover {
          box-shadow: 4px 4px #00000050, -1em 0 .3em #00000050;
          transform: scale(1.05); }
      #flex-index-container .flexImagenes .imagen4 p {
        position: relative;
        font-size: 2rem;
        bottom: 70px;
        left: 25px;
        color: #dd0b04; } }

/*
Circuito
*/
#demo, #demo1 {
  height: 600px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px; }

.carousel-inner {
  border-radius: 10px; }

.carousel-item img {
  max-height: 600px;
  min-height: 600px;
  min-width: 1200px;
  max-width: 1200px; }

.FlechaMovimiento {
  transform: scaleX(-1); }

.carousel-indicators {
  background-color: #00000020; }

.carousel-caption {
  color: #000000;
  font-size: 1.5rem; }
  .carousel-caption h3 {
    color: #ff4757;
    font-size: 2rem; }
  .carousel-caption p {
    color: #ff4757; }

.carousel-control-prev:hover, .carousel-control-next:hover {
  background-color: #706b6b50; }

.MapitaMain {
  width: 100%;
  height: 800px;
  padding-top: 40px; }

.informacionImagenesRecorrido {
  color: white;
  padding-left: 600px; }

@media all and (max-width: 769px) {
  #demo, #demo1 {
    height: 500px;
    width: 90%; }
  .carousel-item img {
    min-height: 500px;
    min-width: auto;
    position: absolute; }
  .carousel-inner {
    height: 500px;
    width: 100%;
    border-radius: 10px; }
  .informacionImagenesRecorrido {
    font-size: 1.2rem;
    padding-left: 25px; }
  .carousel-caption {
    color: #000000;
    font-size: 1.0rem; }
    .carousel-caption h3 {
      font-size: 2rem; } }

/*
Contactenos
*/
legend {
  padding-left: 40px; }

.flexForm {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; }
  .flexForm .FormContactenos {
    padding-left: 40px;
    width: 500px;
    overflow: auto;
    display: inline-block;
    margin-right: 30px; }
  .flexForm input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  .flexForm .formComentarios .textArea1 {
    position: relative;
    padding-left: 40px; }
    .flexForm .formComentarios .textArea1 textarea {
      height: 297px;
      width: 460px;
      resize: none; }

.buttonEnviar {
  padding: 0px 0px 20px 40px;
  height: 100%; }

.alert-warning {
  padding-bottom: 10px;
  width: 100%; }

.divFiller {
  height: 303px; }

@media all and (max-width: 769px) {
  legend {
    padding-left: 40px;
    font-size: 1.1rem; }
  #exampleFormControlTextarea1 {
    width: 342px; }
  .divFiller {
    height: 20px; } }

/*
Vuelos
*/
.mapaVuelos {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  background-color: #00000050; }
  .mapaVuelos iframe {
    width: 98%;
    height: 900px; }

.textInformation {
  color: black;
  padding: 10px; }
  .textInformation div {
    border-style: solid;
    border-radius: 10px;
    border-spacing: 10px;
    border-color: #dd0b04; }
    .textInformation div h1 {
      padding-top: 10px;
      padding-left: 30px;
      color: white; }
    .textInformation div p {
      padding-left: 30px;
      color: white; }

/* 
Informacion
*/
#flipFlex {
  flex-direction: row;
  padding-left: 10%;
  padding-right: 10%;
  justify-content: center; }

.flip-card {
  background-color: transparent;
  width: 600px;
  height: 510px;
  perspective: 1000px;
  padding-left: 20px;
  padding-top: 20px; }
  .flip-card .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-radius: 10px;
    border-spacing: 10px;
    border-color: #dd0b0450; }
    .flip-card .flip-card-inner .flip-card-front {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      background-color: linear-gradient(180deg, #587ec5, #ff475760);
      color: white; }
      .flip-card .flip-card-inner .flip-card-front h1 {
        padding-top: 200px; }
    .flip-card .flip-card-inner .flip-card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      background-color: #587ec5;
      color: white;
      transform: rotateY(180deg); }
      .flip-card .flip-card-inner .flip-card-back p {
        font-size: 2rem; }

.flip-card:hover .flip-card-inner {
  transform: rotateY(-180deg); }

#videoFlex {
  flex-direction: row; }
  #videoFlex .textoInformacion {
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    width: 40%;
    padding-top: 50px; }
    #videoFlex .textoInformacion p {
      color: white;
      padding: 20px; }
  #videoFlex .videoInformacion {
    align-content: center;
    padding-top: 50px; }
    #videoFlex .videoInformacion iframe {
      width: 790px;
      height: 500px; }

@media all and (max-width: 769px) {
  #flipFlex {
    width: 100%;
    padding-left: 10px;
    padding-right: 30px; }
    #flipFlex .flip-card {
      justify-content: center; }
      #flipFlex .flip-card .flip-card-inner .flip-card-back p {
        font-size: 1.3rem; }
  #videoFlex {
    flex-direction: column;
    justify-content: center;
    padding: 20px; }
    #videoFlex .textoInformacion {
      width: 100%; }
    #videoFlex .videoInformacion {
      padding-top: 0px;
      width: 100%;
      justify-content: center; }
      #videoFlex .videoInformacion iframe {
        width: 95%;
        height: 300px; } }
