@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

%claseConFlex{
    display: flex;
    flex-wrap: wrap;
}     

/*
All pages 
*/

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(180deg, #587ec5, #ff475760);
}


.icon{
    height: 60px;
    width: 80px;
    border-style: solid;
    border-color: #ff4757;
    border-radius: 40px;
    position:absolute;
    top: 5px;
    left:15px;
    img{  
        height: 48px;
        width: 60px;
        padding-top: 5px;  
    }
}

.TittleDef{
    text-align: center;
    font-size: $tamanoLetra;
    color: #3d6936;
    padding: 35px 0px 0px 0px;
}

nav{
    display: block;
    background-color: #587ec5;
    width: $ancho;
    height: 70px;
    font-style: italic;
    border-style: solid;
    border-color: #587ec5;
    border-bottom-color:#dd0b0450 ;
    ul{
        list-style-type: none;
        text-align: center;
        padding-top: 15px;
        li{
            display: inline-block;
            margin-right: 2.3rem;
            font-size: 1.3rem;
            text-transform: uppercase;
            a{
                text-decoration: none;
                color: white;
                padding: 5px;
                &:hover{
                    background-color: #e0dddd;
                    color: #dd0b04;
                    border-radius: 10px;
                }
            }
        }
    }
}

nav .active a {
    background-color: #e0dddd;
    color: #dd0b04;
    border-radius: 5px;
}

//Nav, Icon and footer Mobile
@media all and (max-width: 769px){      
    nav{
        ul{
            //list-style-type: none;
            //text-align: center;
            padding-top: 3%;
            li{
                display: inline-block;
                margin-right: 0.5rem;
                font-size: 1rem;
                a{
                    padding: 5px;
                    &:hover{
                        padding: 2px; 
                    }

                }
            }
        }
    }

    .icon{
        height: 40px;
        width: 60px;
        top: 15px;
        left:5px;
        img{  
            height: 28px;
            width: 40px;
            padding-top: 5px;  
        }
    }
    #footer{
        p{
            font-size: 0.60rem;
            bottom: 0;
        }
    }

    nav .active a {
        background-color: #e0dddd;
        color: #dd0b04;
        padding: 3px;
        border-radius: 6px;
    }

}

.BackgroundImage{
    width: 100%;
    height: 500px;
    background-image: url(../img/indexImage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    .textoBackground{
        font-size: 3rem;
        font-style:italic ;
        position: map-get($map, aposition );
        color: #ff4757;
        left:0%;
        top: 10%;
    }

    nav .active a {
        background-color: #e0dddd;
        color: #dd0b04;
        border-radius: 1px;
    }
}


/*
Index 
*/


#flex-index-container{
    @extend %claseConFlex;
    flex-direction: row;
    

    .flexTexto{
        @extend %claseConFlex;
        flex-direction: column;
        justify-content: left; 
        justify-content: center;
        width: 50%;
        h1,p{
            color: white;
            padding-left: 20px;
        }
    }

    .flexImagenes{
        @extend %claseConFlex;   
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
        width: 30%;
        padding: 30px;
        grid-template-columns: repeat(1, 2fr);
        
        .imagen1{
            @include imagenes;
        } 
        .imagen2{
            @include imagenes;
        } 
        .imagen3 {
            @include imagenes;
        }
        .imagen4{
            @include imagenes;
        }
    }     
}

h2{
    padding: 10px;
    text-align: center;
    font-size: 32px;
}

.VideoInformacion{
    iframe{
        width: $ancho;
        height: 600px;
    }
       
}

//INDEX MOBILE 

@media all and (max-width: 769px){      
    #flex-index-container
    {
        flex-direction: column;
        .flexTexto{
            padding-top: 20px;
            width: 100%;
            justify-content: center;
        }

    }
    #flex-index-container
    {
        .flexImagenes{
            width: 100%;
            padding: 30px;

            .imagen1{
                @include imagenesCelular;
            } 
            .imagen2{
                @include imagenesCelular;
            } 
            .imagen3 {
                @include imagenesCelular;
            }
            .imagen4{
                @include imagenesCelular;
            }
        }
    }
    
}

/*
Circuito
*/

#demo, #demo1{
    height: 600px;
    width: 1200px;
    margin-left: auto;
    margin-right:auto;
    margin-top: 50px;

}
.carousel-inner{
    border-radius: 10px;
}

.carousel-item img{
    max-height: 600px;
    min-height: 600px;
    min-width: 1200px;
    max-width: 1200px;
    
}

.FlechaMovimiento{
    transform: scaleX(-1);
}

.carousel-indicators{
    background-color: #00000020;   
}

.carousel-caption{
    color: #000000;
    font-size: 1.5rem;
    
    h3{
        font-size: $tamanoLetra;
    }
}

.carousel-control-prev, .carousel-control-next{
    &:hover{
        background-color: #706b6b;
    } 
}


.MapitaMain{
    width: $ancho;
    height: 800px;
    padding-top: 40px;
}

.informacionImagenesRecorrido{
    color: white;
    padding-left: 600px;
}
//Circuito Informacion
@media all and (max-width: 769px){
    #demo, #demo1{
        height: 500px;
        width: 90%;   
        //padding-bottom: 100px;
    }

    .carousel-item img{
        //max-height: 600px;
        min-height: 500px;
        min-width: 300%;
        //max-width: 600px;
    }

    .carousel-inner{
        height: 500px;
        width: 100%;
        border-radius: 10px;
    }
    .informacionImagenesRecorrido{
        font-size: 1.2rem;
        padding-left: 25px;
    }
    .carousel-caption{

        color: #000000;
        font-size: 1.0rem;
        
        h3{
            font-size: $tamanoLetra;
        }
    }
    
}


/*
Contactenos
*/
  
legend{
    padding-left: 40px; 
}

.flexForm
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    //justify-content: center;
    .FormContactenos{
        padding-left: 40px; 
        width: 500px;
        overflow: auto;
        display: inline-block;
        margin-right:30px;
    }
    
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
  
    .formComentarios{
        .textArea1{
            position: map-get($map, rposition );
            padding-left: 40px;
            textarea{
                height:297px;
                width: 460px;
                resize: none;
            }
        }
    }
}
    
.buttonEnviar{
    padding: 0px 0px 20px 40px;
    height: 100%;
}

.alert-warning{
    padding-bottom: 10px;
    width: 100%;
}
    
.divFiller{
    height: 303px;
}
    
    
//Informacion Mobile
@media all and (max-width: 769px){  
    legend{
        padding-left: 40px; 
        font-size: 1.1rem;
    }

    #exampleFormControlTextarea1{
        width: 342px;  
    }
    .divFiller{
        height: 20px;
    }
   
}

/*
Vuelos
*/

.mapaVuelos{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    background-color: #00000050;

    iframe{
        width:98%;
        height:900px;
    }
}

.textInformation{
    color: black;
    padding: 10px;

    div{
        border-style: solid;
        border-radius: 10px;
        border-spacing: 10px;
        border-color: #dd0b04;
        
        h1{
            padding-top: 10px;
            padding-left: 30px;
            color: white;
        }
        p{
            padding-left: 30px;
            color: white;
        }
    }
}

/* 
Informacion
*/

#flipFlex{
    @extend %claseConFlex;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: center;
}

.flip-card {
    background-color: transparent;
    width: 600px;
    height: 510px;
    perspective: 1000px;
    padding-left: 20px;
    padding-top: 20px;

    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

        border-style: solid;
        border-radius: 10px;
        border-spacing: 10px;
        border-color: #dd0b0450;
        
        .flip-card-front {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            background-color: linear-gradient(180deg, #587ec5, #ff475760);;
            color: white;
            h1{
                padding-top: 200px;
            }
        }
      
        .flip-card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            background-color: #587ec5;
            color: white;
            transform: rotateY(180deg);
            
            p{
                font-size: 2rem;
            }
        }
    }
}
 
.flip-card:hover .flip-card-inner {
    transform: rotateY(-180deg);
}


//Informacion Mobile
@media all and (max-width: 769px){  
    .flip-card  { .flip-card-inner { .flip-card-back {  p{ font-size: 1.3rem; } } } } 
}

